<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="/style/style.css">
	<link rel="shortcut icon" href="/assets/img-loginyregistro/icono.png">

	<title>Tecno Compara</title>
</head>


<body>
	<!-- SLOGAN -->
	<h5 style="color: white;">.</h5>
	<h5 style="color: white;">.</h5>

	<div style="margin-top: 15px;" id="legend" class="row gray-background-1 justify-content-center py-1">
		<div class="d-flex align-items-center">
			<h4 style="font-size: 20px; margin: 1px 0px">ENCONTRÁ EL MEJOR
				PRODUCTO AL MEJOR PRECIO</h4>
		</div>
	</div>



	<!-- SLIDER -->
	<div th:insert="slider :: div">...</div>


	<!--FAQ-->
	<div style="background-color: #efefef;">
		<div class="container py-3">
			<div class="row">
				<div class="col-10 mx-auto">
					<div style="background-color: #FFFFFF;" class="accordion" id="faqExample">
						<div class="card">
							<div class="card-header p-2" id="headingOne">
								<h5 class="mb-0">
									<button style="text-decoration: none; font-size: 25px; color: #959595;"
										class="btn btn-link" type="button" data-toggle="collapse"
										data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										¿De que trata el proyecto?
									</button>
								</h5>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#faqExample">
								<div class="card-body">
									El proyecto trata acerca de una plataforma con la capacidad de comparar precios de
									las distintas marcas/proveedores para así uno estar preparado
									a la hora de realizar una compra, buscar precios, sacar conclusiones, etc.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header p-2" id="headingTwo">
								<h5 class="mb-0">
									<button style="text-decoration: none; font-size: 25px; color: #959595;"
										class="btn btn-link collapsed" type="button" data-toggle="collapse"
										data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										¿Quienes integran el grupo?
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#faqExample">
								<div class="card-body">
									<ul>
										<li>Sabrina Buschiazzo</li>
										<li>Matias Sosa</li>
										<li>Gabriel Ruiz</li>
										<li>Germán Macció</li>
										<li>Ezequiel Romano Storoni</li>
										<li>Juan Manuel Desana</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header p-2" id="headingThree">
								<h5 class="mb-0">
									<button style="text-decoration: none; font-size: 25px; color: #959595;"
										class="btn btn-link collapsed" type="button" data-toggle="collapse"
										data-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										¿Que tecnologías se integraron en el proyecto?
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#faqExample">
								<div class="card-body">
									<ul>
										<li>Java</li>
										<li>SpringBoot</li>
										<li>MySQL</li>
										<li>Thymeleaf</li>
										<li>Javascript</li>
										<li>HTML</li>
										<li>CSS</li>
										<li>Bootstrap</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!--FOOTER-->
	<div th:insert="footer :: footer">...</div>

	<!-- NAVBAR -->
	<div th:insert="navbar :: header">...</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>