<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro Producto</title>
	<link rel="shortcut icon" href="/assets/img-loginyregistro/icono.png">


	<!-- FRAMEWORK BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
		integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/style/registroProducto.css">
	<!-- th:href="@{/css/registroProducto.css}"> -->

</head>

<body>
	 
        <h5 style="color: white;">.</h5>
	<h5 style="color: white;">.</h5>
        <!-- NAVBAR -->
	<div th:insert="navbar :: header">...</div>
        
        
        
	<section>
		<div class="row g-0">
			<div class="col-lg-10 form-content flex-column align-items-end">
				<div class="row">
					<div class="col-lg-12 inicio">
						<h3>Modificar Producto</h3>
					</div>
				</div>
				<div class="align-self-center w-100 px-lg-4 py-lg-4 p-4">
                                                    
					<form action="/producto/guardarModificarProducto" method="POST" enctype="multipart/form-data">
                                              
						<div  class="row">
                                                    <input type="hidden" name="id" th:value="${producto.idProducto}">
							<div class="col-4">
								<div>
									<label style="margin-right: 250px" for="inputName4" class="form-label">
										<h6>Nombre</h6>
									</label>
									<input type="text" class="form-control" id="inputEmail4" aria-label="nombre"
										name="nombre" th:value="${producto.nombre}">
								</div>
							</div>
							<div class="col-4">
								<div>
									<label style="margin-right: 250px" for="inputName4" class="form-label">
										<h6>Marca</h6>
									</label>
									<input type="text" class="form-control" aria-label="marca" name="marca"
										th:value="${producto.marca}">
								</div>

							</div>
							<div class="col-4">
								<div>
									<label style="margin-right: 260px" for="inputName4" class="form-label">
										<h6>Categoria</h6>
									</label>
									<input type="text" class="form-control" aria-label="tipo" name="tipo"
										th:value="${producto.tipo}">
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div>
									<label style="margin-right: 170px" for="inputName4" class="form-label">
										<h6>Descripción</h6>
									</label>
									<textarea type="text" class="form-control" aria-label="descripcion"
										name="descripcion" th:value="${producto.descripcion}" rows="3"></textarea>
								</div>
							</div>
						</div>

						<div class="row">
							<div style="margin-left: 8px">
								<h6>Foto del Producto</h6>
							</div>
							<div class="col-4" style="margin-left: 6px">
								<div class="form-group ">
									<input type="file" class="form-group" id="file" name="file" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-4 text-center container">
								<button type="submit" class="btn btn-dark w-500">Registrar Producto</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		function readURL(input) {

			try {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#img').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}

				if (input.files.length == 0) {
					var reader = new FileReader();

					reader.onload = $('#img').attr('src',
						'/img/imagenotfound.jpg');

					reader.readAsDataURL(input.files[0]);
				}
			} catch (e) {
				console.log(e);
			}

		}

		$("#file").change(function () {
			try {
				readURL(this);
			} catch (e) {
				console.log(e);
			}
		});
	</script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>