<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="/style/style.css">
	<title>Tecno Compara</title>
</head>


<body>
	<!-- NAVBAR -->
	<div th:fragment="header" class="container">
		<header class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
			<div class="container">
				<div class="navbar navbar-light" >
					<div class="col-12 logotipo-img">
						<a class="navbar-brand" href="/">
							<!--<img src="/assets/img-loginyregistro/logotipo.png" width="180,64" height="34,86"-->
							<img src="/assets/img-loginyregistro/icono.png" width="30" height="30"
								class="d-inline-block align-top" alt="">
						</a>
					</div>
				</div>


				<div class="collapse navbar-collapse" id="navbar4">
					<ul class="navbar-nav mr-auto pl-lg-4">
						<li class="nav-item px-lg-2 active">
							<a class="nav-link" href="/">
								<span class="d-inline-block d-lg-none icon-width"><i
										class="fas fa-home"></i></span>Inicio
							</a>
						</li>
						<li class="nav-item px-lg-2 dropdown d-menu">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<span class="d-inline-block d-lg-none icon-width"><i
										class="far fa-caret-square-down"></i></span>Tiendas Oficiales <polyline
									points="6 9 12 15 18 9"></polyline>
							</a>
							<div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="https://www.amazon.com/" target="_blank">Amazon</a>
								<a class="dropdown-item" href="https://www.mercadolibre.com.ar/" target="_blank">Mercado
									Libre</a>
								<a class="dropdown-item" href="https://www.ebay.com/" target="_blank">Ebay</a>
							</div>
						</li>

						<li class="nav-item px-lg-2">
							<a class="nav-link" href="mailto:desanajm@gmail.com">
								<span class="d-inline-block d-lg-none icon-width"><i
										class="far fa-envelope"></i></span>Contacto
							</a>
						</li>
						<li class="nav-item px-lg-2 dropdown d-menu" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"><span
									class="d-inline-block d-lg-none icon-width"><i
										class="far fa-caret-square-down"></i></span>ADMIN
								<polyline points="6 9 12 15 18 9"></polyline>
							</a>
							<div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/proveedor/registrarProveedor}">Registrar Proveedor</a>
								<a class="dropdown-item" th:href="@{/producto/registrarProducto}">Registrar Producto</a>
							</div>
						</li>
					
						<li class="nav-item px-lg-2 dropdown d-menu" th:if="${#authorization.expression('hasRole(''CLIENTE'')')}">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"><span
									class="d-inline-block d-lg-none icon-width"><i
										class="far fa-caret-square-down"></i></span>Usuario
								<polyline points="6 9 12 15 18 9"></polyline>
							</a>
							<div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/usuario/perfilUsuario}">Mi perfil</a>
							</div>
						</li>
					</ul>
					<div th:if="${#authorization.expression('hasAnyRole(''CLIENTE'',''ADMIN'')')}">
					<form class="d-flex" action="/producto/buscar" method="POST">
						<div class="input-group rounded">
							<input type="text" name="nombre" class="form-control rounded" placeholder="Buscar..." aria-label="Search"
								aria-describedby="search-addon" />
							<button type="submit" class="input-group-text border-0" id="search-addon">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</form>
					</div>
			</div>
			


			<div id="user-name" class="pl-2 pr-5"  style="cursor: pointer;" th:if="${#authorization.expression('hasRole(''ANONYMOUS'')')}">
				<h2 class="black m-0" style="font-size: 20px; padding-left: 40px">
					<a class="dropdown-item" href="/login">Login</a>
				</h2>
			</div>
			<div id="user-name" class="pl-2 pr-5"  style="cursor: pointer;" th:if="${#authorization.expression('hasAnyRole(''CLIENTE'',''ADMIN'')')}">
				<h2 class="black m-0" style="font-size: 20px; padding-left: 40px">
					<a class="dropdown-item" href="/logout">Logout</a>
				</h2>
			</div>
		</div>
	</header>
   </div>     
        
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>